<span class = "instruction">
  <p>Welcome to the experiment!</p>
  <p>The browser will enter fullscreen when you press Start.</p>
  <p>Please leave the browser in fullscreen throughout the entire experiment, and only navigate with the presented buttons.</p>
</span>

<div class="flex-container">
  <button class="instruction-btn" (click)="start()">Start</button>
</div>
