body {
  padding:0px;
  margin:0px;
  background-color: rgb(128, 128, 128);
  color: #000000;
  font-weight: 300;
  font-size: 13pt;
}

canvas {
  display:block;
}

.instruction {
  color: white;
  font-size: 24px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

/* borrowing Bootstrap style for btn elements, but combining styles a bit */
/* https://github.com/jspsych/jsPsych/blob/master/css/jspsych.css */

.instruction-btn {
  display: inline-block;
  padding: 6px 12px;
  /* margin: 0px; */
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open Sans', 'Arial', sans-serif;
  cursor: pointer;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.instruction-btn:hover {
  background-color: #ddd;
  border-color: #aaa;
}

.instruction-btn:disabled {
  background-color: #eee;
  color: #aaa;
  border-color: #ccc;
  cursor: not-allowed;
}
