<ul *ngFor="let msg of message">
  <span class = "instruction">{{msg}}</span>
</ul>

<div class="flex-container">
  <button class="instruction-btn" (click)="back()">Back</button>
  <button class="instruction-btn" (click)="next()">Next</button>
</div>

